#root
{
    color: red;
}

.header {

    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}


.logo{
    width: 200px;
    height: 200px;
}

.nav-items >ul {
    display: flex;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

.nav-items >ul >li{
    padding: 10px;
    margin : 10px;
}

.res-card{
    padding :5px;
    width: 200px;
    /* height:300px; */
    border: 1px solid black;
    background-color: #f0f0f0;
    margin: 5px 5px 5px 20px;
}

.res-card :hover{
    border : 1px solid black;
}

.search {
    padding : 10px;
}

.res-logo{
    
    width :100%;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    
}

.cuisines{
    display: flex;
    flex-wrap: wrap;
}